body{
  font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
.custom-check{
  width: 32px;
  height: 32px;
  appearance: none;
  border: 1px solid #CECECE;
  border-radius: 50%;
}

.checked{
  background-image: url(./assets/tick.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.custom-border{
  border-right: 0px;
}

.delete-body{
  text-align: center;
}

.delete-text{
  color:#09174A;
  margin-bottom: 24px;
}

.delete-p{
  margin-bottom: 4px;
}



p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error{
  color: red;
}
label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
}

input {
  padding: 5px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border-color: #2f4156;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.modal-body-container{
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-bottom: 1px solid #CECECE;
  padding: 0 0 20px 0;
  max-width: 654px;
  width: 100%;
}

.btn-ctn{
  /* padding: 20px 0 0 0; */
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.status-span{
  display: flex;
  align-items: center;
}

.text-warning{
  margin: 0 0 0 10px;
  width: 11px;
  height: 11px;
  border: 1px solid #EBB705;
  border-radius: 50%;
  background: #EBB705;
}

.text-success{
  margin: 0 0 0 10px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #26AD13;
}

.date-ctn{
  padding: 2px 8px;
  width: auto;
  margin: 5px 0 0 0;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
}

.overDue{
  background: #C035030F;
  color: #C03503;
}